body {
    margin: 0px;
    font-family: 'Arial', sans-serif;
    background: url("back.jpg");
    background-size: cover;
}
header {
    background: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    padding: 30px 10px;
}
/*img {
    display: block;
    margin-left: 200px;
}*/
header>h2 {
    display: inline-block;
} 
.home {
    margin-left: 500px;
}
span {
    margin: 14px;
    padding: 30px 10px;
}
span:hover {
    cursor: pointer;
    background-color: rgb(63, 58, 58);
}
div {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 40px 30px;
    margin-right: 1200px;
    text-align: center;
    position: relative;
    left: 38%;
    top: 200px;
    font-size: 25px;
}
footer {
    position: relative;
    top: 440px;
    background: whitesmoke;
    font-weight: bold;
    padding: 40px;
}
a {
    text-decoration: none;
    color: white;
}